* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/*Header where you will place the logo and style it*/
.header
{
	position: fixed;
	top: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1318px;
	height: 104px;
	background: #FFFFFF;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{	
	top: 15px;
}
.header.scrolled .header_content::before
{
	box-shadow: 0px 20px 49px rgba(0,0,0,0.17);
}
.header_content
{
	width: calc(100% - 279px);
	height: 100%;
}
.header_content::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	box-shadow: 0px 20px 49px rgba(0,0,0,0.67);
	z-index: -1;
}

/*********************************
3.1 Logo
*********************************/

.logo_container
{
	display: inline-block;
	padding-left: 76px;
}
.logo span
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #3a3a3a;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 3px;
}

.logo {
	display: flex;
	align-items: center;
}

/*change of logo dimensions 8*/
.logo_img {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

/*********************************
3.2 Main Nav
*********************************/

.main_nav_container
{
	display: inline-block;
	margin-left: auto;
	padding-right: 93x;
	
}

.main_nav_list {
	text-decoration: none;
}

.main_nav
{
	margin-top: 7px;
}
.main_nav_item
{
	display: inline-block;
	margin-right: 40px;
    list-style-type: none;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	text-decoration: none;
}
.main_nav_item a:hover
{
	color: #176B87;

}

/*********************************
3.3 Header Side
*********************************/

.header_side
{
	width: 279px;
	height: 100%;
	background: #176B87;
}
.header_side img
{
	width: 29px;
	height: 29px;
}
.header_side span
{
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/

.hamburger_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	display: none;
	cursor: pointer;
}
.hamburger_container i
{
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
}
.hamburger_container:hover i
{
	color: #176B87;
}


.section {
    display: flex;
    width: 85%;
    margin-top: 15%;
	margin-bottom: 50px;
	margin-left: 5%;
	margin-right: 5%6;
    background-color: #176B87;
    height: 40%;
}

.message {
    margin: 20px 0;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    padding-right: 10px;
    color: #000;
    font-weight: bold;
    align-items: center;
    
}

.message > h2, p{
    padding: 3px;
    align-items: center;
    padding-top: 20px;
    
}

img {
    height: 40%;
    width: 85%;
}


.form {
    margin: 0 5%;
}

/*DONATION DETAILS*/


.box {
    border: 5px solid #CD5C08;
    height: 550px;
    width: 45%;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}



label, input {
    display: block;
    margin: 0.5rem 0;
}

::placeholder {
    color: #000;
}

legend {
    background-color: #176B87;
    color: white;
    padding: 5px 20px;
    margin-top: 30px;
  }

button {
    width: 100%;
    border: transparent;
}

.flex {
    display:flex;
}
  

  .btn {
    background-color: #CD5C08 !important;
    margin-top: 20px;
    padding: 50px;
  }

  #lastName {
    width: 25%;
  }

  .donate_box {
	/*display: grid;
	grid-template-rows: 2rem 1fr; */
	margin-left: 35%;
	margin-top: 30px;
  }